<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <!-- APP_ENV=testing bắt Laravel nạp .env.testing (nguồn duy nhất cho DB/driver test,
             tách biệt hoàn toàn database development "vieclam88"). Không lặp lại DB_* ở đây
             để tránh 2 nguồn sự thật lệch nhau. -->
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
